{{> Navigation }}
<section class="container inicial">
    <div class="row">
        <div class="col-12">
            <div class="text-center">

                <div class="d-flex justify-content-center align-items-center">
                    <h2 class="my-5">{{user.nombre}} {{user.apellido}}</h2> {{#ifCond admin true}}{{>OptionsArtistAdmin}}{{/ifCond}}
                </div>
                <div class="container-perfil-image">
                    <div class="img-perfil-artista">
                        <img src="/./uploads/{{user.foto_nombre}}" alt="{{user.foto_nombre}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row text-center mt-3">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <div class="text-left my-2 p-2">
                        <div>
                            <p class="artista-caracteristica"><strong>Categorías</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor"
                                style="font-family: 'MontserratThin'; font-weight: bold;">{{user.disciplina_principal}}
                                - {{user.disciplina_sec}}</p>
                        </div>
                        <div>
                            <p class="artista-caracteristica"><strong>Ubicación</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor"
                                style="font-family: 'MontserratThin'; font-weight: bold;">{{user.pais}}, {{user.region}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <div class="text-left my-2 p-2">
                        <div>
                            <p class="artista-caracteristica"><strong>Frase</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor"
                                style="font-family: 'MontserratThin'; font-weight: bold;">{{user.frase}}</p>
                        </div>
                        <div>
                            <p class="artista-caracteristica"><strong>Años de Experiencia</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor"
                                style="font-family: 'MontserratThin'; font-weight: bold;">{{user.años_experiencia}} años
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <div class="text-left my-2 p-2">
                        <div>
                            <p class="artista-caracteristica"><strong>Última obra</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor"
                                style="font-family: 'MontserratThin'; font-weight: bold;"><a href="#"
                                    class="coleccion-perfil-artista gold">{{ultima_obra.nombreObra}}</a></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica"><strong>Estilo</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor"
                                style="font-family: 'MontserratThin'; font-weight: bold;">{{ultima_obra.estilo}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row text-center gray">
        <div class="col-12 text-left">
            <h2 class="m-3">
                <strong>
                    Biografía
                </strong>
            </h2>
        </div>
        <div class="col-12 biografia-artista">
            <p class="p-3">
                {{user.biografia}}
            </p>
        </div>
        <div class="col-12 text-right">
            <a href="/artista/{{user.id}}/galeria" class="btn btn-compra">Galeria</a>
        </div>
    </div>
</section>
<section class="container">
    <div class="row my-4">
        <div class="col-12 col-md-6">
            <div class="m-3">
                <h3>
                    Colecciones
                </h3>
            </div>
            <div>
                {{#each colecciones}}
                <a class="coleccion-perfil-artista" href="/coleccion/{{id}}">
                    <p>{{nombreColeccion}}</p>
                </a>
                <hr class="gray">
                {{/each}}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="m-3">
                <h3>
                    Próximos eventos
                </h3>
            </div>
             <div>
                {{#each eventos}}
                <a class="coleccion-perfil-artista" href="/evento/{{id}}">
                    <p>{{titulo}}</p>
                </a>
                <hr class="gray">
                {{/each}}
            </div>
        </div>
</section>
<div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
        <h2 class="timeline-header__title">Cronología Artistica</h2>
        <h3 class="timeline-header__subtitle">{{user.nombre}} {{user.apellido}}</h3>
    </div>
    <div class="timeline">
        {{#each obras}}
        <div class="timeline-item" data-text="{{nombreObra}}">
            <div class="timeline__content"><img class="timeline__img" src="/./uploads/{{fotoNombre}}" />
                <h2 class="timeline__content-title">{{fecha_creacion}}</h2>
                <p class="timeline__content-desc"></p>
            </div>
        </div>
        {{/each}}

    </div>
</div>
{{> Footer }}

<script>
    (function ($) {
        $.fn.timeline = function () {
            var selectors = {
                id: $(this),
                item: $(this).find(".timeline-item"),
                activeClass: "timeline-item--active",
                img: ".timeline__img"
            };
            selectors.item.eq(0).addClass(selectors.activeClass);
            selectors.id.css(
                "background-image",
                "url(" +
                selectors.item
                    .first()
                    .find(selectors.img)
                    .attr("src") +
                ")"
            );
            var itemLength = selectors.item.length;
            $(window).scroll(function () {
                var max, min;
                var pos = $(this).scrollTop();
                selectors.item.each(function (i) {
                    min = $(this).offset().top;
                    max = $(this).height() + $(this).offset().top;
                    var that = $(this);
                    if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
                        selectors.item.removeClass(selectors.activeClass);
                        selectors.id.css(
                            "background-image",
                            "url(" +
                            selectors.item
                                .last()
                                .find(selectors.img)
                                .attr("src") +
                            ")"
                        );
                        selectors.item.last().addClass(selectors.activeClass);
                    } else if (pos <= max - 40 && pos >= min) {
                        selectors.id.css(
                            "background-image",
                            "url(" +
                            $(this)
                                .find(selectors.img)
                                .attr("src") +
                            ")"
                        );
                        selectors.item.removeClass(selectors.activeClass);
                        $(this).addClass(selectors.activeClass);
                    }
                });
            });
        };
    })(jQuery);
    $("#timeline-1").timeline();
</script>