{{> Navigation }}

{{> FilterArtists }}

<section class="container w-100" style="margin-top: 5em;">
    <h2 class="my-5">Artistas</h2>
    <div class="row">

        {{#each artistas}}
        <div class="col-12 col-md-4 col-lg-3 text-center">
            <div class="my-4">
                <div class="imagen-artistas">
                    <div class="imagen-artistas-inner">
                    <img src="./uploads/{{foto_nombre}}" class="image-src-artistas"  alt="">
                    </div>
                </div>
                <div class="info-artista">
                    <h2 class="nombre-artistas"><a href="artista/{{id}}">{{nombre}} {{apellido}}</a></h2>
                    <h3 class="disciplina-artistas">{{disciplina_principal}}</h3>
                </div>
            </div>
        </div>
        {{/each}}


        
        {{!-- <div class="col-12">
            <div class="w-100 my-5 text-center">
            <span class="px-2"><a href="#" class="paginacion">   <   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   1   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   2   </a></span>
            <span class="px-2"><a href="#" class="paginacion"><strong class="gold">   3   </strong></a></span>
            <span class="px-2"><a href="#" class="paginacion">   4   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   5   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   >   </a></span>
            </div>
        </div>  --}}
    </div>
</section>

{{> sidebarEnd }}

{{> Footer }}