{{> Navigation }}

<div id="content" class="content inicial">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="postcontent nobottommargin clearfix">
                <div id="posts">

                    {{#each colecciones}}
                    <div class="entry clearfix">
                        {{#ifCond fotoNombre 'false'}}
                        {{else}}
                        <div class="entry-image">
                            <div class="fslider" data-arrows="false" data-lightbox="gallery">
                                <div class="flexslider" style="max-height: 625px;">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="#"
                                                data-lightbox="gallery-item"><img class="image_fade"
                                                    src="./uploads/{{fotoNombre}}"
                                                    alt="Standard Post with Gallery"></a></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h2><a href="/coleccion/{{id}}">{{nombreColeccion}}</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> Creado en {{anio}}</li>
                            <li><a href="/artista/{{artistaId}}"><i class="icon-user"></i> {{nombre}} {{apellido}}</a></li>
                            <li><i class="icon-folder-open"></i> <a href="obras">{{tecnica}}</a>, <a href="#">{{estilo}}</a></li>
                            </li>
                        </ul>
                        <div class="entry-content">
                            <p>{{descripcion}}</p>
                            <a href="/coleccion/{{id}}" class="more-link">Ver colección</a>
                        </div>
                    </div>

                     {{/ifCond}}

                   {{/each}}

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> Footer}}

<script src="js/flexslider.js"></script>
<script src="js/function_flexslider.js"></script>