{{> Navigation }}

<div class="content inicial">
    <div class="container inicial">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>{{colecciones.nombreColeccion}}</h1>
            </div>
            <div class="col-12">


                <section class="carouselColeccion">
                    <div class="carouselColeccion__container">
                        {{#each obras}}
                        <div class="carouselColeccion-item">
                            <img class="carouselColeccion-item__img" src='/uploads/{{fotoNombre}}' alt='{{nombre}}' />
                            <div class="carouselColeccion-item__details">
                                <a class='gold' href='/obra/{{id}}'
                                <p class="carouselColeccion-item__details--title">Ir a la obra</p>
                                </a>
                                <p class="carouselColeccion-item__details--subtitle">{{precio}} MXN</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
                
            </div>
            <div class="col-12 m-3">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <h2 style="font-size: 1em;">Técnica</h2>
                        <h3 style="font-size: 1em;" class="text-muted">{{colecciones.tecnica}}</h3>
                    </div>
                    <div class="col-lg-3 col-6">
                        <h2 style="font-size: 1em;">Ubicación</h2>
                        <h3 style="font-size: 1em;" class="text-muted">{{colecciones.ciudad}}, {{colecciones.pais}}</h3>
                    </div>
                    <div class="col-lg-3 col-6">
                        <h2 style="font-size: 1em;">Año</h2>
                        <h3 style="font-size: 1em;" class="text-muted">{{colecciones.anio}}</h3>
                    </div>
                    <div class="col-lg-3 col-6">
                        <h2 style="font-size: 1em;">Estilo</h2>
                        <h3 style="font-size: 1em;" class="text-muted">{{colecciones.estilo}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    {{#ifCond artista true}}
                    {{>OptionsColeccionArtist}}
                    {{else}}
                    {{!-- <button class="btn btn-compra badge badge-pill">Comprar Colección</button> --}}
                    {{/ifCond}}
                    {{#ifCond admin true}}
                    {{>OptionsColeccionAdmin}}
                    {{/ifCond}}

                </div>
            </div>
            <div class="col-12 m-3">
                <div class="descripcion-coleccion">
                    {{colecciones.descripcion}}
                </div>
            </div>
            <div class="col-12 m-3">
                <div class="container obras-recomendadas">
                    <div class="row">
                        <div class="col-12 m-5">
                            <div class="text-left">
                                <h3 class="gold">Te puede interear</h3>
                            </div>
                        </div>
                        {{#each myArray}}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href='/obra/{{id}}'>
                                    <img src="/uploads/{{fotoNombre}}" class="obra-recomendada card-img-top" alt="">
                                </a>
                                <div class="card-body text-left">
                                    <h5 class="card-title">{{nombreObra}}</h5>
                                    <p class="card-text text-muted">{{precio}} MXN</p>
                                    <p class="card-text"><small class="text-muted">Fecha: {{fecha_creacion}}</small></p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> Footer }}

