{{> Navigation }}

<section class="container inicial mt-5">
    <div class="content">
        <div class="row mb-5">
            <div class="col-12 col-lg-8">
                <h1>{{evento.nombre}}</h1>
                <h5 class="gold">{{evento.dir_local}} </h5>
                <p class="text-muted">{{evento.direccion}} - {{evento.ciudad}}</p>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <small class="font-weight-bold m-0">Fecha de inicio</small><br>
                        <small class="font-weight-bold m-0">Fecha de fin </small>
                    </div>
                    <div class="col-6">
                        <small class="gold m-0">{{#fecha evento.fecha_inicio}}{{evento.fecha_inicio}} {{/fecha}}</small>
                        <br>
                        <small class="gold m-0">{{#fecha evento.fecha_fin}}{{evento.fecha_fin}} {{/fecha}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-6">
                <div class="evento-muestra">
                    <div class="evento-muestra-container">
                        {{#each fotos}}
                        <div class="img-container-evento">
                            <a href="/./uploads/{{fotoNombre}}">
                                <img class="img-fluid position-absolute evento-foto-uno evento-fotos"
                                    src="/./uploads/{{fotoNombre}}" alt="">
                            </a>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="gold">{{evento.titulo}}</h2>
                <br>
                <p class="text-muted">
                    {{evento.descripcion}}
                </p>

                <h5 class="font-weight-bold">Número de obras</h5>
                <p class="text-muted">{{evento.piezas}} Piezas</p>
                <h5 class="font-weight-bold">Estilo</h5>
                <p class="text-muted">{{evento.estilo}}</p>
            </div>
        </div>
    </div>
</section>

{{> Footer }}