{{> Navigation }}
<section class="container inicial">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <div id="image-artwork" class="text-center">
                <div class="carousel-wrapper-outer mt-5" style="overflow: hidden;">
                    <div class="carousel-wrapper-inner">
                        <div class="owl-carousel owl-theme">
                            {{#each fotos}}
                            <img class="item" src="/./uploads/{{fotoNombre}}" style="max-width: 500px;"
                                alt="{{fotoNombre}}">
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{!-- <!-- Aquí se agregan las opciones según el tipo de usuario -->
            {{> OptionsObraArtist }} --}}
            </div>

        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="gold mb-4 mt-5">{{obra.nombreObra}}</h1>
            <p class="precio-obra">
                <strong>
                    {{obra.precio}}
                </strong>
            </p>
            <h2 class="elemento-obra obra-coleccion">Colección: <a href="#">{{obra.coleccion}}</a></h2>
            <h2 class="elemento-obra obra-artista"><a href="#">{{obra.nombre}} {{obra.apellido}}</a></h2>
            <div class="my-5">
                <p>
                    {{obra.descripcion}}
                </p>

            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Dimensiones</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.ancho}} x {{obra.alto}} cm</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Creacion</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.lugarCracion}}, Agosto 1888</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Técnica</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.tecnica}}</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Estilo</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.estilo}}</h3>
            </div>
            <div class="mt-1 mb-5">
                <button class="badge badge-pill btn-compra">COMPRAR</button>
            </div>
        </div>
    </div>
</section>
<section class="container obras-recomendadas">
    <div class="row py-3 text-center">
        <div class="col-12">
            <div class="text-left">
                <h3>Te puede interear</h3>
            </div>
        </div>
        <div class="col-12">
            <div class="card-group">

                {{#each myArray}}
                <div class="card">
                    <a href="">
                        <img src="/./uploads/{{fotoNombre}}" class="obra-recomendada card-img-top" alt="">
                    </a>
                    <div class="card-body text-left">
                        <h5 class="card-title">{{nombreObra}}</h5>
                        <p class="card-text text-muted">{{precio}} MXN</p>
                        <p class="card-text"><small class="text-muted">Fecha: {{Creacion}}</small></p>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>

{{> Footer }}

<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 25,
            items: 1

        })

    });
</script>