{{> Navigation }}
{{> messages }}

<section class="container inicial">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <div id="image-artwork" class="text-center">
                <div class="carousel-wrapper-outer mt-5" style="overflow: hidden;">
                    <div class="carousel-wrapper-inner">
                        <div class="owl-carousel owl-theme">
                            {{#each fotos}}
                            <img class="item" src="/./uploads/{{fotoNombre}}" style="max-width: 500px;"
                                alt="{{fotoNombre}}">
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- Aquí se agregan las opciones según el tipo de usuario -->
                {{#ifCond artista true}}
                {{> OptionsObraArtist }}
                {{/ifCond}}
                {{#ifCond admin true}}
                {{> OptionsObraAdmin}}
                {{/ifCond}}
            </div>

        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="gold mb-4 mt-5">{{obra.nombreObra}}</h1>
            <p class="precio-obra">
                <strong>
                    {{obra.precio}} MXN
                </strong>
            </p>
            <h2 class="elemento-obra obra-coleccion">Colección: <a href="#">{{obra.coleccion}}</a></h2>
            <h2 class="elemento-obra obra-artista"><a href="#">{{obra.nombre}} {{obra.apellido}}</a></h2>
             {{#ifCond cliente true}}
            {{#ifCond uStripe true}}
            {{#ifCond obra.comprada 'No'}}
            <div class="my-3">                
                <button class="btn btn-compra" id="checkout-button" value="{{session_id}}">COMPRAR</button>
            </div>
            {{/ifCond}}
            {{/ifCond}}
            {{else}}
                <h5>Debe registrarse para poder comprar una obra</h5>
            {{/ifCond}}
            <div class="my-5">
                <p>
                    {{obra.descripcion}}
                </p>

            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Dimensiones</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.ancho}} x {{obra.alto}} cm</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Creacion</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.lugarCracion}}</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Técnica</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.tecnica}}</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Estilo</h2>
                <h3 class="elemento-obra obra-dato-valor">{{obra.estilo}}</h3>
            </div>
        </div>
    </div>
</section>

<section class="container obras-recomendadas">
    <div class="row py-3 text-center">
        <div class="col-12">
            <div class="text-left">
                <h3>Te puede interesar</h3>
            </div>
        </div>
        {{#each myArray}}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <a href="/obra/{{id}}">
                    <img src="/./uploads/{{fotoNombre}}" class="obra-recomendada card-img-top" alt="" id="fotoObra">
                </a>
                <div class="card-body text-left">
                    <h5 class="card-title">{{nombreObra}}</h5>
                    <p class="card-text text-muted">{{precio}} MXN</p>
                    <p class="card-text"><small class="text-muted">Fecha: {{fecha_creacion}}</small></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

{{> Footer }}

<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 25,
            items: 1

        })

    });
</script>


<script src="https://js.stripe.com/v3/"></script>

<script>
var stripe = Stripe('pk_test_6ltlRZ8Ncn5C3Q7DE3X3r5wz00A24gvL0J');

var checkoutButton = document.getElementById('checkout-button');
var id = checkoutButton.value;

checkoutButton.addEventListener('click', function() {
  stripe.redirectToCheckout({
    // Make the id field from the Checkout Session creation API response
    // available to this file, so you can provide it as argument here
    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
    sessionId: id
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
  });
});
</script>