{{> Navigation }}

<section class="container inicial">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <div id="image-artwork" class="text-center">
                <div class="carousel-wrapper-outer mt-5" style="overflow: hidden;">
                    <div class="carousel-wrapper-inner">
                        <div class="owl-carousel owl-theme">
                            {{#each fotos}}
                            <img class="item" src="/./uploads/{{fotoNombre}}" style="max-width: 500px;" alt="Pintura">
                            {{/each}}
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{#each subasta}}
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="gold mb-4 mt-5">{{nombreObra}}</h1>
            <small class="text-muted">Última oferta hace: X</small>
            <p class="precio-obra">Puja actual:
                <strong id="precio">
                </strong>
            </p>

            <p class="elemento-obra obra-coleccion">Tiempo Restante: <strong>{{tiempo_restante}} horas </strong></p>
            <p class="elemento-obra obra-coleccion">Colección: <a href="#">{{coleccion}}</a></p>
            <p class="elemento-obra obra-artista"><a href="#">{{nombre}} {{apellido}}</a></p>
            {{#ifCond admin true}}
            {{> OptionsSubastaAdmin}}
            {{/ifCond}}
            <div class="mt-1 mb-5">
                <form action="#">
                    <input type="hidden" id="precio-pujado" name="precio-pujado">
                    <button onclick="pujar()" type="submit" class="btn btn-compra">PUJAR</button>
                </form>
            </div>
            <div class="my-5">
                <p>
                    {{descripcion}}
                </p>
              

            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Dimensiones</h2>
                <h3 class="elemento-obra obra-dato-valor">{{ancho}} x {{alto}} cm</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Creacion</h2>
                <h3 class="elemento-obra obra-dato-valor">{{lugarCreacion}}, {{fecha_creacion}}</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Técnica</h2>
                <h3 class="elemento-obra obra-dato-valor">{{tecnica}}</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Estilo</h2>
                <h3 class="elemento-obra obra-dato-valor">{{estilo}}</h3>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<div class="div bg-light pujas">
    <div class="container">
        <div class="row p-5">
            <div class="col-12">
                <h5 class="gold">Últimas pujas</h5>
            </div>
            <div class="col-12 col-lg-6">
                <div class="pujas-container m-3">
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="pujas-container m-3">
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="container">
    <div class="row py-3">
        <div class="col-12">
            <h3 class="m-5">Te puede interear</h3>
        </div>
        
         {{#each myArray}}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <a href="">
                    <img src="/./uploads/{{fotoNombre}}" class="obra-recomendada card-img-top" alt="" id="fotoObra">
                </a>
                <div class="card-body text-left">
                    <h5 class="card-title">{{nombreObra}}</h5>
                    <p class="card-text text-muted">{{precio}} MXN</p>
                    <p class="card-text"><small class="text-muted">Fecha: {{Creacion}}</small></p>
                </div>
            </div>
        </div>
        {{/each}}
        


    </div>
</section>
{{> Footer }}

<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 25,
            items: 1
        })
    });

    // Definimos el precio con lo obtenido en la base de datos
    let $precio = {{precio}}

    // Seleccionamos e incrustamos el precio formateado en donde corresponde
    let precio = document.getElementById('precio')
    precio.innerText = `${precioFormateado($precio)} MXN`

    // Aumentamos el precio directamente con la función para identificar al usuario que aumentó mientras se envia la inforamción del formulario
    function pujar() {
        let puja = $precio + 50
        precio.innerText = `${precioFormateado(puja)} MXN`

        // Seleccionamos el input donde irá el precio pujado
        let pujado = document.getElementById('precio-pujado')
        // Fijamos el valor de la puja hecha
        pujado.value = puja
    }
</script>