{{> Navigation }}

<section class="container inicial">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <h2>Subastas del Momento</h2>
            </div>
        </div>
        {{#each obras}}
        {{#ifCond estadoSubasta "En Proceso"}}
        <div class="row">
            <div class="col-12">
                <div class="carousel-wrapper-inner">
                    <div class="owl-carousel owl-theme carousel-index carrusel-coleccion">
                        <div class="item-coleccion-carrusel" onclick="window.open('/subasta', '_self');">
                            <figure class="figure">
                                <img class="item item-carrusel-subasta figure-img img-fluid" src="./images/monet3.jpg"
                                    alt="Pintura">
                            </figure>
                        </div>
                        <div class="item-coleccion-carrusel" onclick="window.open('/subasta', '_self');">
                            <figure class="figure">
                                <img class="item item-carrusel-subasta figure-img img-fluid" src="./images/vangogh1.jpg"
                                    alt="Pintura">
                            </figure>
                        </div>
                        <div class="item-coleccion-carrusel" onclick="window.open('/subasta', '_self');">
                            <figure class="figure">
                                <img class="item item-carrusel-subasta figure-img img-fluid" src="./images/monet2.jpg"
                                    alt="Pintura">
                            </figure>
                        </div>
                        <div class="item-coleccion-carrusel" onclick="window.open('/subasta', '_self');">
                            <figure class="figure">
                                <img class="item item-carrusel-subasta figure-img img-fluid" src="./images/vangogh2.jpg"
                                    alt="Pintura">
                            </figure>
                        </div>
                        <div class="item-coleccion-carrusel" onclick="window.open('/subasta', '_self');">
                            <figure class="figure">
                                <img class="item item-carrusel-subasta figure-img img-fluid" src="./images/vangogh3.jpg"
                                    alt="Pintura">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row text-center mt-3">
                    <div class="col-12 col-lg-4 d-flex justify-content-center">
                        <div class="text-left my-2 p-2" style="min-width: 300px;">
                            <div>
                                <p class="artista-caracteristica"><strong>Dimensiones</strong></p>
                            </div>
                            <div>
                                <p class="artista-caracteristica-valor"
                                    style="font-family: 'MontserratThin'; font-weight: bold;">94 x 101 cm</p>
                            </div>
                            <div>
                                <p class="artista-caracteristica"><strong>Creación</strong></p>
                            </div>
                            <div>
                                <p class="artista-caracteristica-valor"
                                    style="font-family: 'MontserratThin'; font-weight: bold;">Francia, 1888</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex justify-content-center">
                        <div class="text-left my-2 p-2" style="min-width: 300px;">
                            <div>
                                <p class="artista-caracteristica"><strong>Técnica</strong></p>
                            </div>
                            <div>
                                <p class="artista-caracteristica-valor"
                                    style="font-family: 'MontserratThin'; font-weight: bold;">Oleo sobre tela</p>
                            </div>
                            <div>
                                <p class="artista-caracteristica"><strong>Ubicación</strong></p>
                            </div>
                            <div>
                                <p class="artista-caracteristica-valor"
                                    style="font-family: 'MontserratThin'; font-weight: bold;">Colonia,
                                    Alemania</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex justify-content-center">
                        <div class="text-left my-2 p-2" style="min-width: 300px;">
                            <div>
                                <p class="artista-caracteristica"><strong>Tiempo Restante</strong></p>
                            </div>
                            <div>
                                <p class="artista-caracteristica-valor"
                                    style="font-family: 'MontserratThin'; font-weight: bold;">12:35:29</p>
                            </div>
                            <div>
                                <p class="artista-caracteristica"><strong>Última Puja</strong></p>
                            </div>
                            <div>
                                <p class="artista-caracteristica-valor"
                                    style="font-family: 'MontserratThin'; font-weight: bold;">194.000 MXN</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-compra py-1 px-5 m-3 rounded-pill ">PUJAR</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="subastas-info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cupiditate enim laudantium odit
                        eos animi quibusdam et maiores quaerat impedit? Officiis expedita atque fugiat deleniti,
                        assumenda perferendis fuga obcaecati eaque laudantium quas earum facere quibusdam odio ipsa
                        corrupti, accusamus repudiandae, nisi numquam dolore dicta similique debitis! Aliquid dolor rem
                        earum, corrupti expedita voluptates repellendus necessitatibus veritatis quas, doloribus quam
                        nihil veniam modi. Debitis voluptas explicabo, error a autem quisquam adipisci sapiente
                        exercitationem accusantium sed dolore voluptatum optio fuga, aut sit odio voluptatibus
                        voluptatem nesciunt. Rerum pariatur consectetur inventore fuga? Vel laborum, quisquam cupiditate
                        adipisci voluptatem culpa ad provident at sit eum est distinctio illo perferendis ipsa? Est
                        commodi illum ipsum itaque culpa? Corporis quasi dolore nesciunt nulla. Earum praesentium
                        aspernatur maiores culpa, accusantium eos eveniet fugiat modi consectetur sequi illo voluptatem
                        tempora quia a molestias ea, quos veniam expedita voluptates veritatis totam iste. Rem quae
                        harum cupiditate magnam placeat dolorem architecto voluptas voluptatibus ratione rerum. Facere
                        voluptatibus mollitia sed modi consectetur. Perspiciatis aut distinctio commodi ipsum tenetur
                        modi odio tempora exercitationem neque? Sit autem officiis unde a hic beatae quidem
                        reprehenderit optio nesciunt, quisquam ullam placeat enim expedita facere soluta voluptatibus
                        odit. Explicabo quidem ut, a ex et libero autem, consequuntur quos sunt nihil minus. Architecto
                        voluptas corporis odio accusamus distinctio hic qui quam? Placeat dignissimos expedita earum,
                        recusandae odit laboriosam quis impedit repellat quam quibusdam! Provident numquam error ratione
                        nemo iusto odio ipsam saepe unde nisi deleniti, perspiciatis cum facere dolor expedita cumque,
                        molestias incidunt. Temporibus obcaecati quo natus ullam, facere sunt similique qui, officiis
                        atque quia autem corrupti maxime itaque non deleniti et, ex assumenda? Temporibus id odit quasi
                        nam similique rerum ipsam inventore! Aliquam possimus ex, blanditiis incidunt nostrum enim
                        repellat ut quidem animi nemo, fugit illo nam perspiciatis alias laudantium, quod quo voluptatum
                        quaerat porro? Impedit?
                    </p>
                </div>
            </div>
        </div>

        {{/ifCond}}
        {{/each}}
        <div class="row">
            <div class="col-12">
                <h3 class="m-5">Próximamente</h3>
            </div>
            <div class="col-12">
                <div class="card-columns card-columns-obras">
                    {{#each obras}}
                    {{#ifCond estadoSubasta "Publicada"}}
                    <div class="card">
                        <img class="card-img-top img-fluid"  src="./uploads/{{fotoNombre}}" alt="imagen">
                        <div class="card-block obras-card-block">
                            <h4 class="card-title obra-coleccion">{{nombreObra}} {{coleccion}}</h4>
                            <p class="card-text">{{descripcion}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><small class="text-muted gold">Fecha: {{#fecha fecha_inicio}}{{fecha_inicio}}{{/fecha}}</small></li>
                            <li class="list-group-item"><small class="text-muted">Inicial: {{precio_base}} MXN </small></li>
                        </ul>
                    </div>
                    {{/ifCond}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

{{> Footer }}


<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            loop: true,
            items: 3,
            nav: true,
            center: true,
            margin: 25,
            responsive: {
                300: {
                    items: 1
                },
                1000: {
                    items: 3
                }
            }

        });
        $('.owl-item').addClass('carousel-coleccion');
        $('.owl-next').html('<span aria-label="Next"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>')
        $('.owl-prev').html('<span aria-label="Previous"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></span>')
    });
</script>