<!-- Modal -->
<div class="modal fade" id="datos-obra-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Tipo</h5>
                                    <h4 class="">Pintura</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estilo</h5>
                                    <h4 class="">Moderno</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estado</h5>
                                    <h4 class="">POR PAGAR</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Medidas</h5>
                                    <h4 class="">103 x 43 cm</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier recomendado</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="py-2 my-2">
                                    <h5 class="text-muter">Descripción</h5>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus omnis delectus laudantium facere amet quas neque aliquid tempore earum quam repellat, nobis pariatur, animi laboriosam dignissimos aliquam quaerat provident commodi dolorem. Voluptatum adipisci autem quibusdam esse minima quam qui aut dolor inventore voluptatibus fugiat, sed dolorem beatae dignissimos distinctio ullam deleniti animi dicta obcaecati voluptates eos! Necessitatibus enim earum ab dolor sed accusantium illum inventore non tenetur voluptatum aliquam dicta totam modi, fugit corporis error reiciendis commodi recusandae facere labore, dolores tempora voluptas obcaecati velit? Esse, autem. Ullam, illum. Eum voluptas quae eius porro possimus assumenda voluptates omnis libero quisquam voluptatibus placeat excepturi, aperiam ipsa, iusto tempora ea consequatur dolorum sunt maiores, nam corporis alias repellat laboriosam quaerat. Quis, quaerat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Fin del Modal --}}

{{> Navigation }}


<div class="container-fluid inicial">
    <div class="content-admin">
        <div class="title m-5">
            <h2>Mis Compras</h2>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Obra</th>
                            <th scope="col">Colección</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Pagado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each obras}}
                        <tr>
                            <!-- Detalles de la obra y del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2><b>{{nombreObra}}</b></h2></button><span class="artista-tabla"><h3>{{apellido}} {{nombre}} </h3></span></td>
                            <!-- Colección de la obra -->
                            <td>{{coleccion}}</td>
                            
                            <!-- Ubicación de la obra -->
                            <td>{{pais}}, {{region}}</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted"> {{precio}} MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                             <td>{{#ifCond estado 'Pago'}} 
                                 Sí
                                 {{else}}
                                 No 
                                 {{/ifCond}}
                             </td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>
{{> Footer }}