<!-- Modal Enviado-->
<div class="modal fade" id="datos-obra-Enviado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Codigo de Seguimiento</h5>
                                    <h4>ASDFASDF1234ASDF</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Fecha de Arribo</h5>
                                    <h4>19 - 03 - 2020</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estado</h5>
                                    <h4 class="">Enviada</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <button class="btn btn-recibido">¡He recibido mi obra!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Recibido -->

<div class="modal fade" id="datos-obra-Recibido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Colección</h5>
                                    <h4 class="">Los Girasoles</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estilo</h5>
                                    <h4 class="">Moderno</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Técnica</h5>
                                    <h4>Oleo sobre tela</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Año</h5>
                                    <h4>2020</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estado</h5>
                                    <h4 class="">Recibido</h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Descripción</h5>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iure sit ab, odio accusantium dolores voluptatibus quaerat commodi, eius cumque tempora quos quidem! Deleniti, soluta. Obcaecati debitis architecto doloribus ex quia modi tenetur enim non est, hic dignissimos. Cumque blanditiis ut recusandae maxime doloribus, quod voluptatum voluptas officia tempora ratione pariatur voluptates aliquid perferendis quas iure laudantium fugit modi veritatis iste architecto placeat facilis possimus. Iure, deleniti vel unde, quo nemo optio inventore dolorum perspiciatis placeat ab non. Illo dignissimos ducimus deleniti odio quaerat perspiciatis aspernatur? Sed, mollitia quidem! Sint facilis adipisci pariatur fuga vitae doloribus rerum optio ipsa, consequatur neque necessitatibus animi culpa maiores ipsum, magnam quasi at exercitationem tempora autem. Velit ducimus, magnam facilis atque exercitationem impedit eaque cupiditate, blanditiis recusandae fugiat, laborum aut deleniti. Ratione, natus sed?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Pendiente -->
<div class="modal fade" id="datos-obra-Pendiente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Fecha de compra</h5>
                                    <h4>05 - 03 - 2020</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estado</h5>
                                    <h4 class="">Pendiente</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h4><a href="mailto:artelibre@reporte.mx" class="text-danger">Reportar</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alerta-venta{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Algún problema?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/obras/recomendar" method="POST">
                <div class="modal-body">
                    <p>Si tienes algún problema puedes contactarte con la plataforma de ArteLibre por esta vía a través del siguiente formulario.</p>
                    <div class="form-group">
                        <label for="text-descripcion">Asunto</label>
                        <input name="text" type="text" placeholder="¿Qué está pasando?" class="form-control" id="text-descripcion" />
                    </div>
                    <div class="form-group">
                        <label for="text-descripcion">Mensaje</label>
                        <textarea name="text" type="text" class="form-control" placeholder="Mensaje" id="text-descripcion" cols="30" rows="10" ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" name="id" value="{{id}}">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Fin del Modal --}}

{{> Navigation }}


<div class="container-fluid inicial">
    <div class="content-admin">
        <div class="title m-5">
            <h2>Mis Pedidos</h2>
        </div>
        <div class="section pedidos">
            <div class="tabla mis-pedidos">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Obra</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Estimado</th>
                            <th scope="col">Precio</th>
                            <th scope="col"> <span class="badge-recibido">Estado</span></th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each obras}}
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-Recibido" class="titulo-mis-obras">
                                    <h2>{{nombreObra}}</h2>
                                </button><a href="#" class="artista-tabla">
                                    <h3 class="text-muted">{{apellido}} {{nombre}} </h3>
                                </a></td>
                            <!-- Ubicación de la obra -->
                            <td>{{pais}}, {{region}} </td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>-</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">{{precio}} MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-Recibido">{{estadoObra}}</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>
                                <div class="opciones-admin-list">
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{> Footer }}