{{> Navigation }}

{{> artistSidebar }}

<div class="bg-light h-100">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 col-md-3 col-lg-3">
                {{#each ultima_obra}}
                <div class="card ultima-obra-dashboard">
                    <img src="/./uploads/{{fotoNombre}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-between">Visitantes: <span class="gold">{{visitas}}</span></p>
                        
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-12 col-md-9">
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="tarjeta-dashboard">
                            <div class="inner-tarjeta-dashboard">
                                <span class="text-white">Visitas al Perfil</span>
                                <i class="text-white">{{visitas}}</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <div class="tarjeta-dashboard">
                            <div class="inner-tarjeta-dashboard">
                                <span class="text-white">Ingresos semanales</span>
                                <i class="text-white">150.000 MXN</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        {{#each evento}}
                        <div class="card proximo-evento-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Pr칩ximo evento</i></small></div>
                                <h3>{{nombre}}</h3>
                                <p class="card-text">{{dir_local}}, {{direccion}}</p>
                                <p class="card-text gold">{{#fecha fecha_inicio}} {{fecha_inicio}} {{/fecha}} </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="obras-mas-visitadas-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard m-0">
                                    <thead>
                                        <tr>
                                            <th>Obras m치s visitadas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each obras}}
                                        <tr>
                                            <td><a href="/obra/{{id}}">{{nombreObra}}</a></td>
                                        </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    {{#each subasta}}
                    <div class="col-12 col-md-4">
                        <div class="card proxima-subasta-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Pr칩xima subasta</i></small></div>
                                <h3>{{nombreObra}}</h3>
                                <p class="card-text">{{precio_base}} MXN </p>
                                <p class="card-text gold">{{#fecha fecha_inicio}} {{fecha_inicio}} {{/fecha}} </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="col-12 col-md-8">
                        <div class="colecciones-mas-visitadas-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard m-0">
                                    <thead>
                                        <tr>
                                            <th>Colecciones m치s visitadas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each colecciones}}
                                        <tr>
                                            <td><a href="/coleccion/{{id}}">{{nombreColeccion}}</a></td>
                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> sidebarEnd }}

{{> Footer }}