{{> Navigation }}
{{> messages }}


{{> artistSidebar }}

<div class="container">
    <div class="content">
<<<<<<< HEAD
        <div class="m-5">
            <h2>Mis Obras</h2>

        </div>
        <div>
            {{#if stripeRegistro}}
            <a class="btn" id="submit" style="background-color: #bda00899;">
            Registrar Método de Pago con Stripe
            </a>
            {{else}}
            <a class="btn" id="submit" style="background-color: #bda00899;"
            href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_HeryjbpRGndoYxvCYMJ2pwCZITTeTHOw&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]={{email}}&stripe_user[business_type]=individual">
            Registrar Método de Pago con Stripe
            </a>
            {{/if}}
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Colección</th>
                            <th scope="col">Estilo</th>
                            <th scope="col">P. Definido</th>
                            <th scope="col">P. Sugerido</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each obras}}
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Noche Estrellada</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td><a href="#" class="coleccion-mis-obras">{{coleccion}}</a></td>
                            <td>{{estilo}}</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">{{precio}} MXN</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">197.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Editar</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
=======
        <div class="row mt-5">
            <div class="col-12 col-md-6 rendimiento-dashboard-header rend-1">
                <div>
                    <h2>Rendimiento</h2>
                </div>
            </div>
            <div class="col-12 col-md-6 rendimiento-dashboard-header rend-2">
                <div>
                    <a class="btn" id="submit" style="background-color: #bda00899; color: #FFF;"
                        href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_HeryjbpRGndoYxvCYMJ2pwCZITTeTHOw&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]={{email}}&redirect_uri=https://artelibre.mx">
                        Registrar Método de Pago con Stripe
                    </a>
                </div>
>>>>>>> 49632e76374cc1430a21d817e2cba43ffcb1d10d
            </div>
        </div>

    </div>
</div>

<style>
    .rend-1 {
        text-align: left;
    }

    .rend-2 {
        text-align: right;
    }

    @media screen and (max-width: 768px) {
        .rend-1 {
            text-align: center;
        }

        .rend-2 {
            text-align: center;
        }
    }
</style>

{{> sidebarEnd}}

{{> Footer }}