{{> Navigation }}
{{> messages }}


{{> artistSidebar }}

<div class="container">
    <div class="content">
        <div class="row mt-5">
            <div class="col-12 col-md-6 rendimiento-dashboard-header rend-1">
                <div>
                    <h2>Rendimiento</h2>
                </div>
            </div>
            <div class="col-12 col-md-6 rendimiento-dashboard-header rend-2">
                <div>
                    <a class="btn" id="submit" style="background-color: #bda00899; color: #FFF;"
                        href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_HeryjbpRGndoYxvCYMJ2pwCZITTeTHOw&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]={{email}}&redirect_uri=https://artelibre.mx">
                        Registrar Método de Pago con Stripe
                    </a>
                </div>
            </div>
        </div>

        <section id="tabs" class="mt-5">
            <main class="index">
                <div class="container-estadisticas">
                    <div class="row">
                        <div class="col-xs-12 w-100">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link gold active" id="nav-obras-tab" data-toggle="tab"
                                        href="#nav-obras" role="tab" aria-controls="nav-obras"
                                        aria-selected="false">Obras</a>
                                    <a class="nav-item nav-link gold" id="nav-exposicion-tab" data-toggle="tab"
                                        href="#nav-exposicion" role="tab" aria-controls="nav-exposicion"
                                        aria-selected="false">Exposición</a>
                                    <a class="nav-item nav-link gold" id="nav-clientes-tab" data-toggle="tab"
                                        href="#nav-clientes" role="tab" aria-controls="nav-clientes"
                                        aria-selected="false">Clientes</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade active show" id="nav-obras" role="tabpanel"
                                    aria-labelledby="nav-graph3-tab">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="rounded bg-dark chart-rendimiento-horizontal-oscuro">
                                                        <canvas id="chart-ventas-semanales"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-dark card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Beneficios últimos 30
                                                            días</h2>
                                                        <h1 class="mb-2"><i class="convertion-rate-obras-artista">{{ventasMes}}
                                                                MXN</i></h1>
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-white card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Tasa de conversión
                                                            Ventas/Visitantes</h2>
                                                        <h1 class="mb-2"><i class="convertion-rate-obras-artista">{{conversionVisitas}}
                                                                %</i></h1>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-white card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Tasa de retorno de
                                                            visitantes</h2>
                                                        <h1 class="mb-2"><i
                                                                class="convertion-rate-obras-artista">63,51%</i></h1>
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-dark card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Beneficios últimos 7
                                                            días</h2>
                                                        <h1 class="mb-2"><i class="convertion-rate-obras-artista">{{ventasSemana}}
                                                                MXN</i></h1>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-exposicion" role="tabpanel"
                                    aria-labelledby="nav-graph6-tab">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="rounded bg-white chart-rendimiento-horizontal">
                                                        <canvas id="chart-perfil-semanales"></canvas>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="rounded bg-white chart-rendimiento-horizontal">
                                                        <canvas id="chart-galeria-semanales"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="rounded bg-dark table-colecciones-exposicion">
                                                        <div class="table-responsive">
                                                            <table class="table table-sm tabla-dashboard m-0">
                                                                <caption>Colecciones más visitadas
                                                                </caption>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nombre</th>
                                                                        <th># Visitas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {{#each colecciones}}
                                                                    <tr>
                                                                        <td><a href="/coleccion/{{id}}">{{nombreColeccion}}</a>
                                                                        </td>
                                                                        <td>{{visitas}}</td>
                                                                    </tr>
                                                                    {{/each}}
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-white card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Visitas último evento
                                                        </h2>
                                                        <h1 class="mb-2"><i
                                                                class="convertion-rate-obras-artista">{{visitasEvento}}</i></h1>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-white card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Visitantes</h2>
                                                        <h1 class="mb-2"><i
                                                                class="convertion-rate-obras-artista">{{totalVisitasEventos}}</i></h1>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-clientes" role="tabpanel"
                                    aria-labelledby="nav-graph8-tab">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="row">
                                                
                                                <div class="col-12">
                                                    <div class="rounded bg-white chart-rendimiento-horizontal">
                                                        <canvas id="chart-ubicacion-compradores"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="row">
                                                
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-white card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Visitas perfil
                                                        </h2>
                                                        <h1 class="mb-2"><i
                                                                class="convertion-rate-obras-artista">{{totalVisitasPerfil}}</i></h1>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="rounded bg-white card-rendimiento-obras-artista">
                                                        <h2 class="title-card-rendimiento-obras">Visitas galería</h2>
                                                        <h1 class="mb-2"><i
                                                                class="convertion-rate-obras-artista">{{totalVisitasGaleria}}</i></h1>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    new Chart(document.getElementById("chart-ventas-semanales"), {
        type: 'line',
        data: {
            labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"],
            datasets: [{
                data: [{{estaSemana.ventaLunes}}, {{estaSemana.ventaMartes}}, {{estaSemana.ventaMiercoles}}, {{estaSemana.ventaJueves}}, {{estaSemana.ventaViernes}}, {{estaSemana.ventaSabado}}, {{estaSemana.ventaDomingo}}],
                label: "Semana actual",
                borderColor: "#E6DBA2",
                backgroundColor: "#E6DBA222",
                fill: true
            },
            {
                data: [{{semanaPasada.ventaLunes0}}, {{semanaPasada.ventaMartes0}}, {{semanaPasada.ventaMiercoles0}}, {{semanaPasada.ventaJueves0}}, {{semanaPasada.ventaViernes0}}, {{semanaPasada.ventaSabado0}}, {{semanaPasada.ventaDomingo0}}],
                label: "Semana pasada",
                borderColor: "#BDA008",
                backgroundColor: "#BDA00822",
                fill: true
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Número de ventas semanales',
                fontColor: "#d3d3d3",
                fontSize: "14"
            },
            legend: {
                labels: {
                    fontColor: "#d3d3d3"
                }
            }
        }
    });

    
    new Chart(document.getElementById("chart-galeria-semanales"), {
        type: 'line',
        data: {
            labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"],
            datasets: [{
                data: [{{estaSemanaGaleria.galeriaLunes}}, {{estaSemanaGaleria.galeriaMartes}}, {{estaSemanaGaleria.galeriaMiercoles}}, {{estaSemanaGaleria.galeriaJueves}}, {{estaSemanaGaleria.galeriaViernes}}, {{estaSemanaGaleria.galeriaSabado}}, {{estaSemanaGaleria.galeriaDomingo}}],
                label: "Semana actual",
                borderColor: "#E6DBA2",
                backgroundColor: "#E6DBA222",
                fill: true
            },
            {
                data: [{{semanaPasadaGaleria.galeriaLunes0}}, {{semanaPasadaGaleria.galeriaMartes0}}, {{semanaPasadaGaleria.galeriaMiercoles0}}, {{semanaPasadaGaleria.galeriaJueves0}}, {{semanaPasadaGaleria.galeriaViernes0}}, {{semanaPasadaGaleria.galeriaSabado0}}, {{semanaPasadaGaleria.galeriaDomingo0}}],
                label: "Semana pasada",
                borderColor: "#BDA008",
                backgroundColor: "#BDA00822",
                fill: true
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Visitas a la Galería',
                fontColor: "#3c3c3c",
                fontSize: "14"
            },
            legend: {
                labels: {
                    fontColor: "#3c3c3c"
                }
            }
        }
    });

    new Chart(document.getElementById("chart-perfil-semanales"), {
        type: 'line',
        data: {
            labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"],
            datasets: [{
                data: [{{estaSemanaPerfil.perfilLunes}}, {{estaSemanaPerfil.perfilMartes}}, {{estaSemanaPerfil.perfilMiercoles}}, {{estaSemanaPerfil.perfilJueves}}, {{estaSemanaPerfil.perfilViernes}}, {{estaSemanaPerfil.perfilSabado}}, {{estaSemanaPerfil.perfilDomingo}}],
                label: "Semana actual",
                borderColor: "#E6DBA2",
                backgroundColor: "#E6DBA222",
                fill: true
            },
            {
                data: [{{semanaPasadaPerfil.perfilLunes0}}, {{semanaPasadaPerfil.perfilMartes0}}, {{semanaPasadaPerfil.perfilMiercoles0}}, {{semanaPasadaPerfil.perfilJueves0}}, {{semanaPasadaPerfil.perfilViernes0}}, {{semanaPasadaPerfil.perfilSabado0}}, {{semanaPasadaPerfil.perfilDomingo0}}],
                label: "Semana pasada",
                borderColor: "#BDA008",
                backgroundColor: "#BDA00822",
                fill: true
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Visitas al perfil',
                fontColor: "#3c3c3c",
                fontSize: "14"
            },
            legend: {
                labels: {
                    fontColor: "#3c3c3c"
                }
            }
        }
    });

    
    new Chart(document.getElementById("chart-ubicacion-compradores"), {
        type: 'bar',
        data: {
            labels: ["Chihuahua", "Toluca", "MXDF", "Nuevo Leon", "Jalisco", "Monterrey", "Juarez", "Guadalajara", "Cancún", "Mérida"],
            datasets: [{
                data: ["45", "11", "0", "35", "63", "12", "5", "0", "0", "0"],
                label: "Semana actual",
                borderColor: "#E6DBA2",
                backgroundColor: "#E6DBA2",
                fill: true
            },
            {
                data: ["80", "0", "30", "0", "50", "60", "0", "13", "43", "42"],
                label: "Semana pasada",
                borderColor: "#BDA008",
                backgroundColor: "#BDA008",
                fill: true
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Ubicación compradores',
                fontColor: "#3c3c3c",
                fontSize: "14"
            },
            legend: {
                labels: {
                    fontColor: "#3c3c3c"
                }
            }
        }
    });



</script>

{{> sidebarEnd}}

{{> Footer }}