<!-- Modal Pagado -->
<div class="modal fade" id="modal-pagado{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Codigo de Seguimiento</h5>
                                    <input type="text" name="" id="" class="form-control">
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Fecha de Arribo</h5>
                                    <input type="date" name="" id="" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre del comprador</h5>
                                    <h4 class="">Luis Fernando Méndez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5>Registrar Envio</h5>
                                    <button type="submit" class="btn badge-Recibido">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Pendiente -->
<div class="modal fade" id="modal-pendiente{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Recibiras</h5>
                                    <h4 class="">130.000 MXN</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre del comprador</h5>
                                    <h4 class="">Luis Fernando Méndez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="text-muted">
                                    El cliente ya agregó el articulo a su carrito, sin embargo no ha concretado la compra aún, nosotros haremos seguimiento con él a través del correo, pero puedes contactarlo por correo o teléfono con los botones de la sección "ACCIONES".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Enviado -->
<div class="modal fade" id="modal-enviado{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Recibiras</h5>
                                    <h4 class="">130.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Número de Tracking</h5>
                                    <h4 class="">SDF2KJ23413K4N</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre del comprador</h5>
                                    <h4 class="">Luis Fernando Méndez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Fecha de Arribo</h5>
                                    <h4 class="">05 - 01 - 2021</h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="text-muted">
                                    Este artículo ya fue enviado, el cliente recibirá un recordatorio para marcarlo como recibido, en caso de pasar tres días del arribo y no recibir la aprobación o algún reporte por parte del cliente, se etiquetará como "RECIBIDO".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Enviado -->
<div class="modal fade" id="modal-recibido{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Recibiste</h5>
                                    <h4 class="">130.000 MXN</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre del comprador</h5>
                                    <h4 class="">Luis Fernando Méndez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="text-muted">
                                    Transacción finalizada, ya el cliente recibió esta obra.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alerta-venta{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Algún problema?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/obras/recomendar" method="POST">
                <div class="modal-body">
                    <p>Si tienes algún problema puedes contactarte con la plataforma de ArteLibre por esta vía a través del siguiente formulario.</p>
                    <div class="form-group">
                        <label for="text-descripcion">Asunto</label>
                        <input name="text" type="text" placeholder="¿Qué está pasando?" class="form-control" id="text-descripcion" />
                    </div>
                    <div class="form-group">
                        <label for="text-descripcion">Mensaje</label>
                        <textarea name="text" type="text" class="form-control" placeholder="Mensaje" id="text-descripcion" cols="30" rows="10" ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" name="id" value="{{id}}">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Fin del Modal --}}

{{> Navigation }}

{{> artistSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Mis Ventas</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline badge badge-pill btn-compra"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Obra</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Tiempo</th>
                            <th scope="col">Precio</th>
                            <th scope="col"> <span class="badge-recibido">Estado</span></th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><button data-toggle="modal" data-target="#modal-pendiente{{id}}" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Noche Estrellada</h2>
                                </button></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-Pendiente">Pendiente</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#modal-pendiente{{id}}" class="ocultar"><i
                                            class="fas fa-clock"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                    {{#ifCond estado 'Pendiente'}}
                                    <button data-toggle="modal" data-target="#modal-pendiente{{id}}" class="ocultar"><i
                                            class="fas fa-clock"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                    {{/ifCond}}
                                    {{#ifCond estado 'Pagado'}}
                                    <button data-toggle="modal" data-target="#modal-pagado{{id}}" class="destacar"><i
                                            class="fas fa-truck"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                    {{/ifCond}}
                                    {{#ifCond estado 'Enviado'}}
                                    <button data-toggle="modal" data-target="#modal-enviado{{id}}" class="ocultar"><i
                                            class="fas fa-info-circle"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                    {{/ifCond}}
                                    {{#ifCond estado 'Recibido'}}
                                    <button data-toggle="modal" data-target="#modal-recibido{{id}}" class="destacar"><i
                                            class="fas fa-check"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                    {{/ifCond}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><button data-toggle="modal" data-target="#modal-pagado{{id}}" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Noche Estrellada</h2>
                                </button></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-Pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#modal-pagado{{id}}" class="destacar"><i
                                            class="fas fa-truck"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><button data-toggle="modal" data-target="#modal-enviado{{id}}" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Noche Estrellada</h2>
                                </button></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-Enviado">Enviado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#modal-enviado{{id}}" class="ocultar"><i
                                            class="fas fa-info-circle"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><button data-toggle="modal" data-target="#modal-recibido{{id}}" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Noche Estrellada</h2>
                                </button></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-Recibido">Recibido</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#modal-recibido{{id}}" class="destacar"><i
                                            class="fas fa-check"></i></button>
                                    <button data-toggle="modal" data-target="#alerta-venta{{id}}" class="borrar"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                    <a href="tel:{{telf}}" class="contactar"><i class="fas fa-phone"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd }}

{{> Footer }}