<!-- Modal Colección -->
<div class="modal fade" id="coleccion{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90vw;" role="document">
        <div class="modal-content p-3">
            <div class="modal-header">
                <div class="modal-title">
                    <h3 class="text-muted">
                        Colección
                    </h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la Colección</h5>
                                    <h4 class="">Los Girasoles</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Año</h5>
                                    <h4 class="">1994</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Técnica</h5>
                                    <h4 class="">Modernista</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estilo</h5>
                                    <h4 class="">Modernista</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación</h5>
                                    <h4 class="">Canada - Montreal</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Rendimiento</h5>
                                    <h4 class="">130.000 MXN</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Descripción</h5>
                                    <h4 class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque nobis, similique, eum fuga nisi sunt iste beatae vero amet explicabo unde maiores culpa, temporibus aut eaque fugit in ad facere laboriosam. Alias mollitia in, veniam debitis nulla nostrum earum laudantium, excepturi distinctio voluptatem adipisci perspiciatis iusto! Fuga dolore quaerat quibusdam, ullam nemo dolor aliquid dolorem ipsam ex magni. Cum fugiat eveniet illo repellendus ut, rem suscipit quidem, veritatis saepe porro aliquam placeat ipsam praesentium sint.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- Modal Editar Colección -->
<div class="modal fade" id="editarObra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90vw;" role="document">
        <div class="modal-content p-3">
            <div class="modal-header">
                <div class="modal-title">Editar Colección {{id}} </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/obra/editar/{{id}}" method="POST" enctype="multipart/form-data" class="form">
               <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="nombre" aria-describedby="NombreHelp"
                            placeholder="Escribe aquí el nombre de la colección">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="fcreacion">Año de Creación</label>
                        <select class="form-control" id="fcreacion" name="año" aria-describedby="Año de creación">
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="descripción">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion"
                            aria-describedby="descripcion" placeholder="Describe la colección"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="tecnica">Técnica</label>
                        <input type="text" class="form-control" name="tecnica" id="tecnica" aria-describedby="Técnica"
                            placeholder="Técnica utilizada">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="estilo">Estilo</label>
                        <input type="text" class="form-control" id="estilo" name="estilo" aria-describedby="estilo"
                            placeholder="Estilo representado">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="ubicacion-pais">Ubicación (País)</label>
                        <input type="text" class="form-control" id="ubicacion-pais" name="ubicacionPais"
                            aria-describedby="ubicacion-pais" placeholder="País">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="ubicacion-ciudad">Ubicación (Ciudad)</label>
                        <input type="text" class="form-control" id="ubicacion-ciudad" name="ubicacionCiudad"
                            aria-describedby="ubicacion-ciudad" placeholder="Ciudad">
                    </div>
                </div>

                <div class="col-12 text-right">
                    <input type="submit" value="Guardar" class="guardar-obra">
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Borrar -->
<div class="modal fade" id="borrar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrar colección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta colección? Esta acción es permanente, se perderan todos los
                    datos que corresponden a esta colección.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ocultar -->
<div class="modal fade" id="ocultar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ocultar Colección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas ocultar esta colección? Esta acción durará un tiempo indefinido hasta
                    que decidas cambiar el estado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accion-admin">Ocultar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quitar Ocultar -->
<div class="modal fade" id="quitar-ocultar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mostrar Colección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas volver a mostrar esta colección? Esta acción durará un tiempo indefinido hasta
                    que decidas cambiar el estado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accion-admin">Mostrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{{> Navigation }}

{{> artistSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Mis Colecciones</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline badge badge-pill btn-compra"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Piezas</th>
                            <th scope="col">ID</th>
                            <th scope="col">Valor Promedio</th>
                            <th scope="col">Rendimiento</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#coleccion{{id}}" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Nombre</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Ubicación</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">Piezas</td>
                            <td class="text-muted">ID</td>
                            <td class="text-muted">100 MXN</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">100 MXN </td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td>
                                <div class="opciones-admin-list">
                                    {{#ifCond ocultar 'Si'}}
                                    <button data-toggle="modal" data-target="#ocultar-obra{{id}}" class="ocultar"><i
                                            class="fas fa-eye-slash"></i></button>
                                    {{else}}
                                    <button data-toggle="modal" data-target="#quitar-ocultar-obra{{id}}" class="ocultar"><i
                                            class="fas fa-eye"></i></button>
                                    {{/ifCond}}
                                    <button data-toggle="modal" data-target="#borrar-obra{{id}}" class="borrar"><i
                                            class="fas fa-trash"></i></button>
                                    <button data-toggle="modal" data-target="#editarObra{{id}}" class="editar"><i
                                            class="fas fa-pen"></i></button>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd}}

{{> Footer }}