{{#each obras}}

<!-- Modal Obra -->
<div class="modal fade" id="editarObra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90vw;" role="document">
        <div class="modal-content p-3">
            <div class="modal-header">
                <div class="modal-title">Editar Obra {{id}} </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/obra/editar/{{id}}" method="POST" enctype="multipart/form-data" class="form">
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="file" name="image" accept="image/gif, image/png, image/jpeg" multiple
                            id="gallery-photo-add" style="display: none;">
                        <label for="gallery-photo-add" class="label-agregar-fotos">Agregar fotos</label>
                        <br>
                        <small class="text-muted p-0 m-0">Para eliminar una foto haz click sobre ella</small>
                    </div>
                    <br>
                    <div id="gallery" class="gallery row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <input type="text" class="form-control" id="Nombre" name="nombre"
                                aria-describedby="NombreHelp" placeholder="{{nombreObra}}" value="{{nombreObra}}"
                                required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="precio">Precio (MXN)</label>
                            <div class="row">
                                <div class="col px-1"><input type="number" name="precioArtista" id="precioA"
                                        aria-describedby="Lo que recibe el artista" placeholder="Recibiras" class="form-control" required></div>

                                <div class="col px-1"><input type="number" name="precioArtelibre" id="precioB"
                                        aria-describedby="Lo que recibe ArteLibre" placeholder="ArteLibre"
                                        class="form-control" required></div>
                                <div class="col px-1"><input type="number" name="precioComision" id="precioC"
                                        aria-describedby="Comisiones" placeholder="Comisiones" class="form-control"
                                        required>
                                </div>
                                <div class="col px-1"><input type="number" name="precioFinal" id="precioF"
                                        aria-describedby="Precio Final" class="form-control" placeholder="{{precio}}"
                                        value="{{precio}}" required>
                                </div>

                            </div>
                            <small class="text-muted">El precio final será el que el cliente ve en la plataforma y el
                                que
                                pagará</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="descripción">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion"
                                aria-describedby="descripcion" placeholder="{{descripcion}}"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="Coleccion">Colección</label>
                            <select type="text" class="form-control" id="Colección" name="coleccion"
                                aria-describedby="colecciónHelp" required>
                                <option value=0>Ninguna</option>
                                {{#each colecciones}}
                                <option value="{{id}}">{{nombreColeccion}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="lcreacion">Lugar de Creación</label>
                            <input type="text" class="form-control" id="lcreacion" name="lcreacion"
                                aria-describedby="creacionHelp" placeholder="{{lugarCreacion}}"
                                value="{{lugarCreacion}}" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="fcreacion">Año de Creación</label>
                            <select class="form-control" id="fcreacion" placeholder="{{fecha_creacion}}"
                                name="fcreacion" aria-describedby="Año de creación">

                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="tecnica">Técnica</label>
                            <input type="text" class="form-control" id="tecnica" name="tecnica"
                                aria-describedby="tecnicaHelp" placeholder="{{tecnica}}" value="{{tecnica}}" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="estilo">Estilo</label>
                            <input type="text" class="form-control" id="estilo" name="estilo" aria-describedby="estilo"
                                placeholder="{{estilo}}" value="{{estilo}}" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row m-0 p-0">
                            <div class="col-6 p-0 m-0">
                                <div class="form-group ml-3">
                                    <label for="alto">Alto</label>
                                    <input type="number" class="form-control" id="alto" name="alto"
                                        aria-describedby="altoHelp" placeholder="{{alto}}" value="{{alto}}" required>
                                </div>
                            </div>
                            <div class="col-6 p-0 m-0">
                                <div class="form-group">
                                    <label for="ancho">Ancho</label>
                                    <input type="number" class="form-control" id="ancho" name="ancho"
                                        aria-describedby="anchoHelp" placeholder="{{ancho}}" value="{{ancho}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3" id="check1">
                        <div class="form-group">
                            <div class="form-check m-4">
                                <input class="form-check-input" onchange='check()' name="subasta" type="checkbox"
                                    id="gridCheck">
                                <label class="form-check-label" for="gridCheck" id="label-check">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3" id="check2">
                        <div class="form-group">
                            <div class="form-check m-4">
                                <input class="form-check-input" onchange='checkdos()' name="copias" type="checkbox"
                                    id="gridCheck2">
                                <label class="form-check-label" for="gridCheck2" id="label-check2">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3" id="check3">
                        <div class="form-group">
                            <div class="form-check m-4">
                                <input class="form-check-input" onchange='checktres()' name="copias" type="checkbox"
                                    id="gridCheck3">
                                <label class="form-check-label" for="gridCheck3" id="label-check3">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3" id="check4">
                        <div class="form-group">
                            <div class="form-check m-4">
                                <input class="form-check-input" onchange='checkcuatro()' name="copias" type="checkbox"
                                    id="gridCheck4">
                                <label class="form-check-label" for="gridCheck4" id="label-check4">

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button class="guardar-obra" type="submit" name="id" value="{{id}}"> Guardar </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Borrar -->
<div class="modal fade" id="borrar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta obra? Esta acción es permanente, se perderan todos los
                    datos que corresponden a esta obra.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ocultar -->
<div class="modal fade" id="ocultar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ocultar Obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas ocultar a este obra? Esta acción durará un tiempo indefinido hasta
                    que decidas cambiar el estado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accion-admin">Ocultar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quitar Ocultar -->
<div class="modal fade" id="quitar-ocultar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mostrar Obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas volver a mostrar esta obra? Esta acción durará un tiempo indefinido hasta
                    que decidas cambiar el estado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accion-admin">Mostrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Galeria -->
<div class="modal fade" id="galeria-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Llevar Obra a Galeria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Estás de acuerdo con mostrar tu obra en tu galeria personal? De ser así, presiona "Aceptar".
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accion-admin">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quitar Galeria -->
<div class="modal fade" id="quitar-galeria-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quitar de Galeria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás de acuerdo con quitar esta obra de tu galeria? De ser así, presiona "Quitar".</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Quitar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{{/each}}


{{> Navigation }}

{{> artistSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Mis Obras</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline btn btn-compra badge badge-pill"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Colección</th>
                            <th scope="col">Estilo</th>
                            <th scope="col">P. Definido</th>
                            <th scope="col">P. Sugerido</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each obras}}
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">{{nombreObra}}</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td><a href="#" class="coleccion-mis-obras">{{coleccion}}</a></td>
                            <td>{{estilo}}</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">{{precio}} MXN</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">{{precio}} MXN </td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td>
                                <div class="opciones-admin-list">
                                    {{#ifCond galeria 'Si'}}
                                    <button data-toggle="modal" data-target="#galeria-obra{{id}}" class="recomendar"><i
                                            class="fas fa-images"></i></button>
                                    {{else}}
                                    <button data-toggle="modal" data-target="#quitar-galeria-obra{{id}}" class="borrar"><i
                                            class="fas fa-times-circle"></i></button>
                                    {{/ifCond}}
                                    {{#ifCond ocultar 'Si'}}
                                    <button data-toggle="modal" data-target="#ocultar-obra{{id}}" class="ocultar"><i
                                            class="fas fa-eye-slash"></i></button>
                                    {{else}}
                                    <button data-toggle="modal" data-target="#quitar-ocultar-obra{{id}}" class="ocultar"><i
                                            class="fas fa-eye"></i></button>
                                    {{/ifCond}}
                                    <button data-toggle="modal" data-target="#borrar-obra{{id}}" class="borrar"><i
                                            class="fas fa-trash"></i></button>
                                    <button data-toggle="modal" data-target="#editarObra{{id}}" class="editar"><i
                                            class="fas fa-pen"></i></button>

                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd}}

{{> Footer }}

<script src="/js/obras.js"></script>