{{> Navigation }}

<div class="container" style="margin-top: 5em;">
    <div class="section index-first-section text-center">
        <div class="row">
            <div class="col-12 col-lg-6">
                <figure class="figure contenedor-hero">
                    <figcaption class="figure-caption caption-obra-destacada">Obra recomendada</figcaption>
                    <a href="#">
                        <img src="/./uploads/{{obra_destacada.fotoNombre}}" alt="obra recomendada"
                            class="figure-img img-fluid imagen-obra-destacada">
                    </a>
                </figure>
            </div>
            <div class="col-12 col-lg-6 mb-5">
                <a href="#" class="hero-title">
                    <h1>{{obra_destacada.titulo_recomendada}}</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="section container-second-section">
        <div class="row row-second-section-index text-center">
            <div class="col-12">
                <h2 class="second-section-title">Destacadas</h2>
                <div class="w-50 barra-decorativa-index"></div>
            </div>
            <div class="col-12 mt-3">
                <div class="carousel-wrapper-inner">
                    <div class="owl-carousel owl-theme carousel-index">
                        {{#each destacadas}}
                        <a href="">
                            <img class="item" src="/./uploads/{{fotoNombre}}" style="max-width: 500px;" alt="Pintura">
                        </a>
                        {{/each}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row index-third-section text-center">
            <div class="col-12 my-3">
                <figure class="figure contenedor-artista-index">
                    <figcaption class="figure-caption caption-artista-destacado">Artista destacado</figcaption>
                    <a href="#">
                        <img src="/./uploads/{{artista_destacado.foto_nombre}}" alt="Artista destacada"
                            class="figure-img img-fluid imagen-artista-destacado">
                    </a>
                </figure>
                <a class="artista-title-index" href="#">
                    <h2><b>{{artista_destacado.nombre}} {{artista_destacado.apellido}}</b></h2>
                </a>
            </div>
            <div class="col-12 artist-paragraph-index-container">
                <p class="artist-paragraph-index">
                    {{artista_destacado.biografia}}
                </p>
                <img src="/./uploads/{{obra1_artista.fotoNombre}}" class="imagen-descripcion imagen-descripcion-1" alt="">
                <p class="artist-paragraph-index">
                    {{artista_destacado.info_destacar}}
                </p>
                </p>
                <img src="/./uploads/{{obra2_artista.fotoNombre}}" class="imagen-descripcion imagen-descripcion-2" alt="">


            </div>
        </div>
        <div class="section">
            <div class="row index-fourth-section text-center">
                <div class="col-12 text-left">
                    <h1 class="title-eventos-index">Eventos</h1>
                </div>
                {{#each eventos}}
                <div class="row row-event-index col-12">
                    <div class="col-12 col-lg-6 container-image-event">
                        <div class="container-badge-index container-badge-index-1">
                            <span class="badge badge-pill badge-eventos-index my-3">{{#fecha fecha_inicio}} {{fecha_inicio}} {{/fecha}}</span>
                        </div>
                        <figure class="figure imagen-evento-index">
                            <img src="/./uploads/{{fotoNombre}}" class="evento-inner-image" alt="">
                        </figure>
                    </div>
                    <div class="col-12 col-lg-6 info-event-index">
                        <h2 class="local-evento-index">{{nombre}}</h2>
                        <h3 class="nombre-evento-index"><i>"{{titulo}}"</i></h3>
                        <h4 class="lugar-evento-index my-3">{{dir_local}}{{direccion}}{{ciudad}}</h4>
                    </div>
                </div>

                {{/each}}
                
            </div>
        </div>

        <div class="section">
            <div class="row index-fifth-section text-center">
                <figure class="coleccion-destacada">
                    <figcaption class="figure-caption caption-coleccion-destacada">Colección destacada</figcaption>
                    <h1 class="titulo-coleccion-destacada">{{coleccion_destacada.nombreColeccion}}</h1>
                    <div class="container-coleccion-index">
                        {{#each obras_coleccion}}
                        <div class="image-coleccion-destacada coleccion-index-1">
                            <img src="./uploads/{{fotoNombre}}" alt="Pintura"
                                class="figure-img img-fluid imagen-obra-destacada">
                        </div>
                        {{/each}}
                        
                    </div>
                    <a class="coleccion-title" href="#">
                        <span class="badge badge-pill badge-ver-coleccion-index my-3">Ver Colección</span>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</div>

{{> Footer}}

<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            autoplay: 3000,
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }

        })

    });
</script>