<nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm p-3 bg-white navegacion-principal">
    <div class="container contenedor-padre-nav">
        <div class="navigation-container d-flex w-100 justify-content-between">
            <div>
                <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div>
                <a href="#" class="navbar-brand logo-responsive"><img src="/images/logos/logotipo_n.png"
                        style="max-width: 150px;" alt="ArteLibre"></a>
            </div>

            {{#if logueado}}

            {{#if dashboard}}
            <div class="outter-inicio-sesion">
                {{> ToggleDashboard }}
            </div>
            {{else}}
            <div class="outter-inicio-sesion">

                <span class="dropdown show" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <a href="#" class="btn dropdown-toggle">
                        <span class="text-secondary inicio-name">{{nombre.nombre}} {{nombre.apellido}}
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.59 8.29501L12 12.875L7.41 8.29501L6 9.70501L12 15.705L18 9.70501L16.59 8.29501Z"
                                    fill="#BDA008" fill-opacity="0.54" />
                            </svg>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {{#if artista}}
                        {{> MenuArtist }}
                        {{/if}}
                        {{#if cliente}}
                        {{> MenuClient }}
                        {{/if}}
                        {{#if admin}}
                        {{> MenuAdmin }}
                        {{/if}}
                    </div>
                </span>
            </div>
            {{/if}}

            {{else}}
            <div class="outter-inicio-sesion">
                <a href="#" class="text-secondary inicio-responsive">Iniciar Sesión</a>
            </div>

            {{/if}}

        </div>
        <div class="row w-100">
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="col-3 text-center">
                    <a class="navbar-brand logo-no-responsive" href="/"><img src="/images/logos/logotipo_n.png"
                            style="max-width: 200px;" alt="ArteLibre"></a>
                </div>
                <div class="col-6">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link" href="/artistas">Artistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/obras">Obras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/colecciones">Colecciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eventos">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/subastas">Subastas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 text-center">



                    {{#if logueado }}


                    {{#if dashboard}}
                    <span class="dropdown show">
                        <a href="#" class="btn dropdown-toggle" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-secondary inicio-name">{{nombre.nombre}} {{nombre.apellido}}
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.59 8.29501L12 12.875L7.41 8.29501L6 9.70501L12 15.705L18 9.70501L16.59 8.29501Z"
                                        fill="#BDA008" fill-opacity="0.54" />
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{#ifCond artista true}}
                            {{> MenuArtist}}
                            {{/ifCond}}
                            {{#ifCond cliente true}}
                            {{> MenuClient}}
                            {{/ifCond}}
                             {{#ifCond admin true }}
                            {{> MenuAdmin }}
                            {{/ifCond}}
                        </div>
                    </span>

                    {{else}}

                    <span class="dropdown show">
                        <a href="#" class="btn dropdown-toggle" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-secondary inicio-name">{{nombre.nombre}} {{nombre.apellido}}
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.59 8.29501L12 12.875L7.41 8.29501L6 9.70501L12 15.705L18 9.70501L16.59 8.29501Z"
                                        fill="#BDA008" fill-opacity="0.54" />
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{#ifCond artista true}}
                            {{> MenuArtist}}
                            {{/ifCond}}
                            {{#ifCond cliente true}}
                            {{> MenuClient}}
                            {{/ifCond}}
                             {{#ifCond admin true}}
                        {{> MenuAdmin }}
                        {{/ifCond}}
                        </div>
                    </span>

                    {{/if}}


                    {{else}}

                    <span class="d-flex justify-center">
                        <button onclick="window.location.href='registro'"
                            class="btn btn-sm boton-signup">Registrarme</button>
                        <a class="inicio-sesion inicio-no-responsive" href="/iniciar-sesion">Iniciar Sesión</a>
                    </span>

                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</nav>