<!-- Modal Perfil -->
<div class="modal fade" id="editar-perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90vw;" role="document">
        <div class="modal-content p-3">
            <div class="modal-header">
                <div class="modal-title">Editar Perfil </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="editar-Artista" class="form" method="POST" enctype="multipart/form-data">
                <div class="row mb-5">
                    <div class="col-12 col-lg-3 text-center">
                        <label for="file-input">
                            <div class="foto-container">
                                <div class="w-100 h-100 d-flex">
                                    <div class="m-auto">
                                        <span class="m-auto">
                                            Agregar foto
                                        </span>
                                    </div>
                                </div>
                                <input name="image" id="file-input" type="file" style="display: none;" />
 
                                <img id="imgSalida" class="img-perfil-artista" src="/./uploads/{{user.foto_nombre}}" alt="{{user.foto_nombre}}" />
                            </div>
                        </label>
                        <div>
                            <small class="text-muted mb-0 pb-0">Dimensiones minimas: 280 ancho x 350 alto</small> <br>
                            <small class="text-muted mb-0 pb-0">Para cambiarla haz click de nuevo</small>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="row m-3">
                            <div class="col-12 col-lg-6  mb-3">
                                <div class="form-group">
                                    Nombre
                                    <input type="text" class="form-control" id="nombre" aria-describedby="nombre"
                                        placeholder="{{user.nombre}}" value="{{user.nombre}}" name="fullname" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-6  mb-3">
                                <div class="form-group">
                                    Apellido
                                    <input type="text" class="form-control" id="apellido" aria-describedby="apellid"
                                        placeholder="{{user.apellido}}" value="{{user.apellido}}" name="apellido" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-6  mb-3">
                                <div class="form-group">
                                    Email
                                    <input type="email" class="form-control" id="correo" aria-describedby="correo"
                                         placeholder="{{user.email}}" value="{{user.email}}" name="email" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-6  mb-3">
                                Telefono
                                <div class="form-group pd-telephone-input">
                                    <input type="tel" class="form-control telefono" id="telefono"
                                        aria-describedby="{{user.telefono}}" value="{{user.telefono}}" name="telefono" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-6  mb-3">
                                <div class="form-group">
                                    País
                                    <input type="text" class="form-control" id="pais" aria-describedby="pais"
                                        placeholder="{{user.pais}}" value="{{user.pais}}" name="pais" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-6  mb-3">
                                <div class="form-group">
                                    Provincia
                                    <input type="text" class="form-control" id="povincia" aria-describedby="provincia"
                                        placeholder="{{user.provincia}}" value="{{user.provincia}}" name="provincia">
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="form-group">
                                    Dirección
                                    <input type="text" class="form-control" id="direccion" aria-describedby="direccion"
                                        placeholder="{{user.direccion}}" value="{{user.direccion}}" name="direccion" >
                                </div>
                            </div>
                            <div class="col-12 col-lg-6  mb-3">
                                <div class="form-group">
                                    Años de Experiencia
                                    <input type="number" class="form-control" id="años" aria-describedby="años"
                                        placeholder="{{user.años_experiencia}}" value="{{user.años_experiencia}}" name="años" >
                                </div>
                            </div>
                            
                           
                            <div class="col-12 col-lg-6  mb-3">
                                <div class="form-group">
                                    Disciplina
                                    <input type="text" class="form-control" id="disciplina2" aria-describedby="tecnica"
                                        placeholder="{{user.disciplina_principal}}" value="{{user.disciplina_principal}}" name="disciplina_sec" >
                                </div>
                            </div>
                            <div class="col-12  mb-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="estilo" aria-describedby="estilo"
                                        placeholder="{{user.frase}}" value="{{user.frase}}" name="frase">
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="form-group">
                                    Biografia
                                    <textarea class="form-control" id="biografia" aria-describedby="biografia"
                                        placeholder="{{user.biografia}}" value="{{user.biografia}}" name="biografia" ></textarea>
                                </div>
                            </div>
                            <div class="border-bottom mb-5 col-12"></div>
                            
                            
                            <div class="col-12 text-right">
                                <button class="btn btn-compra" type="submit" name='idArtist' id="buttonSubmit"
                                    value="{{user.id}}" name="idArtist">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<button data-toggle="modal" data-target="#editar-perfil" class="recomendar"><i class="fas fa-pen"></i></button>