{{#each artistasCompletos}}

<!-- Modal Artista -->
<div class="modal fade" id="datos-artista-modal{{idArtist}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/./uploads/{{foto_nombre}}" alt="{{nombre}}{{apellido}}">
                        </div>
                    </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Eventos</h5>
                                    <h4 class="">{{numero_eventos}}</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Colecciones</h5>
                                    <h4 class="">{{numero_colecciones}}</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Obras</h5>
                                    <h4 class="">{{numero_obras}}</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Última venta</h5>
                                    <h4 class="">-</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Rendimiento</h5>
                                    <h4 class="">- MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <a href="mailto:{{email}}" class="btn badge-recibido">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Borrar -->
<div class="modal fade" id="borrar-artista{{idArtist}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrar Artista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar a este artista? Esta acción es permanente, se perderan todos los
                    datos que corresponden a este artista.</p>
            </div>
            <div class="modal-footer">
                <a href="/admin/artistas/borrar/{{idArtist}}" type="button" class="btn btn-danger" >Eliminar </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quitar Suspender -->
<div class="modal fade" id="quitar-suspender-artista{{idArtist}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover la suspensión al Artista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas quitar la suspensión a este artista? Esta acción durará un tiempo indefinido hasta
                    que decidas volver a aplicar la suspensión.</p>
            </div>
            <div class="modal-footer">
                <a href="/admin/artistas/suspender/{{idArtist}}" type="button" class="btn btn-danger" >Aceptar</a>
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Suspender -->
<div class="modal fade" id="suspender-artista{{idArtist}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suspender Artista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas suspender a este artista? Esta acción durará un tiempo indefinido hasta
                    que decidas revocar la suspensión.</p>
            </div>
            <div class="modal-footer">
                <a href="/admin/artistas/suspender/{{idArtist}}" type="button" class="btn btn-danger" >Suspender </a>
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Quitar Destacar -->
<div class="modal fade" id="quitar-destacar-artista{{idArtist}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover Artista del Inicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/artistas/destacar" method="POST">
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas quitar el "destacar" a este artista? Esta acción lo llevará a dejar de mostrarse en la
                        página de inicio.</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" value="{{idArtist}}" name="id">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Destacar -->
<div class="modal fade" id="destacar-artista{{idArtist}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Destacar Artista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/artistas/destacar" method="POST">
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas destacar a este artista? Esta acción lo llevará a mostrarse en la
                        página de inicio.</p>
                    <div class="form-group">
                        <label for="text-descripcion">Escriba la información que acompañará la sección de "Artista
                            Destacado" en el inicio:</label>
                        <textarea name="text" class="form-control" id="text-descripcion" cols="30"
                            rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" value="{{idArtist}}" name="id">Destacar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{/each}}

{{> Navigation }}

{{> adminSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Artistas</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline badge badge-pill btn-compra"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section listas">
            <div class="tabla mis-ventas table-responsive">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Estilo</th>
                            <th scope="col"># de Obras</th>
                            <th scope="col">Rendimiento</th>
                            <th scope="col">Destacado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each artistasCompletos}}
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-artista-modal{{idArtist}}" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">{{nombre}} {{apellido}}</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td><a href="#" class="coleccion-mis-obras">{{direccion}} {{pais}}</a></td>
                            <td>-</td>
                            <td>{{disciplina_principal}}</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">{{numero_obras}}</td>
                            <td class="gold">-</td>
                            <td class="gold"> {{destacar}} </td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td>
                                <div class="opciones-admin-list">

                                    <button data-toggle="modal" data-target="#borrar-artista{{idArtist}}" class="borrar"><i
                                            class="fas fa-trash"></i></button>
                                    {{#ifCond inactivo 'Si'}}                                            
                                    <button data-toggle="modal" data-target="#quitar-suspender-artista{{idArtist}}" class="suspender"><i
                                            class="fas fa-play"></i></button>
                                    {{/ifCond}}
                                    {{#ifCond inactivo 'No'}}
                                    <button data-toggle="modal" data-target="#suspender-artista{{idArtist}}" class="suspender"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    {{/ifCond}}
                                    {{#ifCond destacar 'No'}}
                                    <button data-toggle="modal" data-target="#destacar-artista{{idArtist}}" class="destacar"><i
                                            class="far fa-star"></i></button>
                                    {{/ifCond}}
                                    {{#ifCond destacar 'Si'}}
                                    <button data-toggle="modal" data-target="#quitar-destacar-artista{{idArtist}}" class="destacar"><i
                                            class="fas fa-star"></i></button>
                                    {{/ifCond}}
                                    
                                    <a href="mailto:{{email}}" class="contactar"><i class="fas fa-envelope"></i></a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd }}

{{> Footer }}