<!-- Modal Borrar -->
<div class="modal fade" id="borrar-cliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar a este cliente? Esta acción es permanente, se perderan todos los
                    datos que corresponden a este usuario.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Suspender -->
<div class="modal fade" id="suspender-cliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suspender Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas suspender a este cliente? Esta acción durará un tiempo indefinido hasta
                    que decidas revocar la suspensión.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accion-admin">Suspender</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{{> Navigation }}
{{> adminSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Clientes</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline btn btn-compra badge badge-pill"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section listas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Piezas compradas</th>
                            <th scope="col">Última compra</th>
                            <th scope="col">Rendimiento</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each clientesCompletos}}
                        <tr class="ml-5">
                            <!-- Nombre del cliente -->
                            <td><h2 style="font-weight: bold;">{{nombre}} {{apellidp}} </h2></td>
                            
                            <!-- Ubicación del Cliente -->
                            <td><a href="#" class="coleccion-mis-obras">{{region}} - {{pais}}</a></td>
                            <!-- # de obras compradas -->
                            <td>{{obrasCompradas}}</td>
                            <!-- Ùltima compra -->
                            <td class="text-muted">
                                {{#if ultima_compra}}
                                {{#fecha ultima_compra}} {{ultima_compra}} {{/fecha}}
                                {{else}} n/a 
                                {{/if}}
                                 </td>
                            <td class="gold">- MXN</td>
                            <!--Total de las obras compradas -->
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#borrar-cliente" class="borrar"><i
                                            class="fas fa-trash"></i></button>
                                    <button data-toggle="modal" data-target="#suspender-cliente" class="suspender"><i
                                            class="fas fa-exclamation-triangle"></i></button>
                                    <a href="mailto:#" class="contactar"><i class="fas fa-envelope"></i></a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd }}
{{> Footer }}