{{#each colecciones}}

<!-- Modal -->
<div class="modal fade" id="datos-obra-modal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="./uploads/{{fotoNombre}}" alt="{{nombreColeccion}}">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la colección</h5>
                                    <h4 class="">{{nombreColeccion}}</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">{{nombre}}{{apellido}}</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la colección</h5>
                                    <h4 class="">{{ciudad}}, {{pais}}</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Tecnica</h5>
                                    <h4 class="">{{tecnica}}</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estilo</h5>
                                    <h4 class="">{{estilo}}</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Año de creación</h5>
                                    <h4 class="">{{anio}}</h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Descripción</h5>
                                    <h4 class="">{{descripcion}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Destacar -->
<div class="modal fade" id="destacar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Destacar Obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/colecciones/destacar" method="POST">
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas destacar a este obra? Esta acción lo llevará a mostrarse en la
                        página de inicio. Pueden existir hasta 10 obras destacadas</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" name="id" value="{{id}}">Destacar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Borrar -->
<div class="modal fade" id="borrar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta obra? Esta acción es permanente, se perderan todos los
                    datos que corresponden a esta obra.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Ocultar -->
<div class="modal fade" id="ocultar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ocultar Obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas ocultar a este obra? Esta acción durará un tiempo indefinido hasta
                    que decidas cambiar el estado.</p>
            </div>
            <div class="modal-footer">
                <a href="/admin/colecciones/ocultar/{{id}}" type="button" class="btn btn-accion-admin">Ocultar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{{/each}}

{{> Navigation }}

{{> adminSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Colecciones</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline badge badge-pill btn-compra"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Artista</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Piezas</th>
                            <th scope="col">Valor promedio</th>
                            <th scope="col">Rendimiento</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each colecciones}}
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal{{id}}" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">{{nombreColeccion}}</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>{{nombre}} {{apellido}}</td>
                            <td><a href="#" class="coleccion-mis-obras">{{ciudad}} {{pais}}</a></td>
                            <td> {{piezas}} </td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold"> {{precioPromedio}} MXN</td>
                            <td class="gold">- MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#borrar-obra{{id}}" class="borrar"><i
                                            class="fas fa-trash"></i></button>
                                    {{#ifCond ocultar 'No'}}
                                    <button data-toggle="modal" data-target="#ocultar-obra{{id}}" class="ocultar"><i
                                            class="fas fa-eye-slash"></i></button>
                                    {{/ifCond}}
                                    {{#ifCond destacar 'No'}}
                                    <button data-toggle="modal" data-target="#destacar-obra{{id}}" class="destacar"><i
                                            class="far fa-thumbs-up"></i></button>
                                    {{/ifCond}}
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd }}

{{> Footer }}