{{> Navigation }}

{{> adminSidebar }}

<div class="bg-light h-100">
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <small style="color: var(--gold);">Resumen semanal</small>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="tarjeta-dashboard-admin">
                    <div class="inner-tarjeta-dashboard">
                        <span class="gold">Transacciones</span>
                        <i class="text-white">{{transaccionesTotal}}</i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="tarjeta-dashboard-admin">
                    <div class="inner-tarjeta-dashboard">
                        <span class="gold">Ingresos</span>
                        <i class="text-white">{{ingresos}} MXN</i>
                    </div>
                </div>
            </div>
           
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="tarjeta-dashboard-admin">
                    <div class="inner-tarjeta-dashboard">
                        <span class="gold">Eventos</span>
                        <i class="text-white">{{eventos}}</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="card bg-dark tarjeta-card-dashboard h-100">
                            <img class="card-img" src="/./uploads/{{ultimaObra.fotoNombre}}" alt="Card image">
                            <div class="card-img-overlay ultima-obra-admin-dashboard">
                                <small class="card-title gold"><i>Última obra</i></small>
                                <h3 class="titulo-obra-card-dashboard"><a href="/obra/{{ultimaObra.id}}">{{ultimaObra.nombreObra}}</a></h3>                                <p class="card-text text-white">{{ultimaObra.nombre}} {{ultimaObra.apellido}} </p>
                                <p class="card-text gold">{{ultimaObra.precio}} MXN</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="card galeria-mas-visitada-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Galería más visitada</i></small></div>
                                <h3>{{galeria.nombre}} {{galeria.apellido}} </h3>
                                <p class="card-text">{{galeria.direccion}}, {{galeria.pais}}</p>
                                <p class="card-text gold">{{galeria.numero_obras}} Piezas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="card ultima-coleccion-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Última Colección</i></small></div>
                                <h3>{{ultimaColeccion.nombreColeccion}}</h3>
                                <p class="card-text gold">{{ultimaColeccion.piezas}} Piezas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="card bg-dark tarjeta-card-dashboard h-100">
                            <img class="card-img" src="/./uploads/{{obraVisitada.fotoNombre}}" alt="Card image">
                            <div class="card-img-overlay obra-visitada-admin-dashboard">
                                <small class="card-title gold"><i>Obra más visitada</i></small>
                                <h3 class="titulo-obra-card-dashboard"><a href="/obra/{{obraVisitada.id}}">{{obraVisitada.nombreObra}}</a></h3>                               
                                <p class="card-text gold">{{obraVisitada.precio}} MXN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="artistas-relevantes-admin-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard-admin m-0">
                                    <thead>
                                        <tr>
                                            <th>Artistas más relevantes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each artistasRelevantes}}
                                        <tr>
                                            <td><a href="/artista/{{id}}">{{nombre}} {{apellido}} </a></td>                                        
                                        </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="proximas-subastas-admin-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard-admin m-0">
                                    <thead>
                                        <tr>
                                            <th>Proximas Subastas</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each proximasSubastas}}
                                        <tr>
                                            <td><a href="#">{{nombreObra}}</a></td>
                                            <td>{{#fecha fecha_inicio}} {{fecha_inicio}} {{/fecha}} </td>
                                        </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="proximos-eventos-admin-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard-admin m-0">
                                    <thead>
                                        <tr>
                                            <th>Próximos Eventos</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each proximosEventos}}
                                        <tr>
                                            <td><a href="#">{{nombre}}</a></td>
                                            <td><a href="/evento/{{id}}">{{nombre}}</a></td>
                                        </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> sidebarEnd }}

{{> Footer }}