{{#each obras}}
<!-- Modal Obra -->
<div class="modal fade" id="datos-obra-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estado</h5>
                                    <h4 class="">Vendida</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre del comprador</h5>
                                    <h4 class="">Luis Fernando Méndez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Borrar -->
<div class="modal fade" id="borrar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta obra? Esta acción es permanente, se perderan todos los
                    datos que corresponden a esta obra.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ocultar -->
<div class="modal fade" id="ocultar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ocultar Obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas ocultar esta obra? Esta acción durará un tiempo indefinido hasta
                    que decidas cambiar el estado.</p>
            </div>
            <div class="modal-footer">
                <a href="/admin/obras/ocultar/{{id}}" type="button" class="btn btn-accion-admin">Ocultar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Destacar -->
<div class="modal fade" id="destacar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Destacar Obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/obras/destacar" method="POST">
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas destacar a este obra? Esta acción lo llevará a mostrarse en la
                        página de inicio. Pueden existir hasta 10 obras destacadas</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" name="id" value="{{id}}">Destacar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Recomendar -->
<div class="modal fade" id="recomendar-obra{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recomendar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/obras/recomendar" method="POST">
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas recomendar esta obra? Esta acción lo llevará a mostrarse en la
                        página de inicio.</p>
                    <p>
                        <b>
                            Solo puede existir una obra recomendada en el inicio.
                        </b>
                    </p>
                    <div class="form-group">
                        <label for="text-descripcion">Escriba el título que acompañará la sección de "obra
                            recomendada" en el inicio (Máximo 80 carácteres)</label>
                        <input name="text" type="text" class="form-control" id="text-descripcion" cols="30" rows="10" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" name="id" value="{{id}}">Recomendar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal quitar Ocultar -->
<div class="modal fade" id="quitar-ocultar-obra{{id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mostrar Obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas mostrar esta obra? Esta acción durará un tiempo indefinido hasta
                    que decidas cambiar el estado.</p>
            </div>
            <div class="modal-footer">
                <a href="/admin/obras/ocultar/{{id}}" type="button" class="btn btn-accion-admin">Mostrar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal quitar Destacar -->
<div class="modal fade" id="quitar-destacar-obra{{id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dejar de destacar Oora</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/obras/destacar" method="POST">
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas quitar el "destacar" a esta obra? Esta acción lo llevará a dejar de
                        aparecer en la
                        página de inicio.</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin" name="id" value="{{id}}">Quitar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal quitar Recomendar -->
<div class="modal fade" id="quitar-recomendar-obra{{id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dejar de recomendar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/obras/recomendar" method="POST">>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas dejar de recomendar esta obra? Esta acción lo quitará de la
                        página de inicio.</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="id" value="{{id}}">Quitar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{/each}}


{{> Navigation }}

{{> adminSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Obras</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline badge badge-pill btn-compra"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Artista</th>
                            <th scope="col">En venta</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each obras}}
                        <tr class="ml-5">
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">{{nombreObra}}</h2>
                                </button></td>
                            <td><a href="#" class="coleccion-mis-obras">{{lugarCreacion}}</a></td>
                            <td>{{nombre}} {{apellido}}</td>
                            <td>{{en_venta}}</td>
                            <td class="gold">{{precio}} MXN</td>
                            <td><a href="#" class="accion-editar">{{cantidad}}</a></td>
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#borrar-obra{{id}}" class="borrar"><i
                                            class="fas fa-trash"></i></button>
                                    {{#ifCond ocultar 'No'}}
                                    <button data-toggle="modal" data-target="#ocultar-obra{{id}}" class="ocultar"><i
                                            class="fas fa-eye-slash"></i></button>
                                    {{else}}
                                    <button data-toggle="modal" data-target="#quitar-ocultar-obra{{id}}"
                                        class="ocultar"><i class="fas fa-eye"></i></button>
                                    {{/ifCond}}
                                    {{#ifCond destacar 'No'}}
                                    <button data-toggle="modal" data-target="#destacar-obra{{id}}" class="destacar"><i
                                            class="far fa-thumbs-up"></i></button>
                                    {{else}}
                                    <button data-toggle="modal" data-target="#quitar-destacar-obra{{id}}"
                                        class="destacar"><i class="fas fa-thumbs-up"></i></button>
                                    {{/ifCond}}
                                    {{#ifCond recomendar 'No'}}
                                    <button data-toggle="modal" data-target="#recomendar-obra{{id}}"
                                        class="recomendar"><i class="far fa-star"></i></button>
                                    {{else}}
                                    <button data-toggle="modal" data-target="#quitar-recomendar-obra{{id}}"
                                        class="recomendar"><i class="fas fa-star"></i></button>
                                    {{/ifCond}}
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd }}

{{> Footer }}